*{
    box-sizing: border-box;
}

.content{
    height: 100dvh;
    background-color:blueviolet;
    display: grid;
    grid-template-rows: 100px auto 100px;
}

.header{
    background-color: aquamarine;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo{
        margin-right: auto;
    }

    .search{
        padding-left: 1rem;
    }

    .systemOfMeasurement{
        margin-left: auto;
        display: flex;
    }
}

.main{
    background-color: darkgrey;
    display: flex;
    justify-content: center;
    align-items: center;

    .mainCard{
        background-color: aquamarine;
        padding: 1rem;

        display: grid;
        grid-template-rows: 25% auto;

        /* min-width: 80%; */
        width: fit-content;
        width: min(900px, 90%);
        /* min-height: 70%; */
        height: fit-content;
        height: min(600px,90%);

        .mainCard1stRow{
            background-color: antiquewhite;
            padding: 1rem;
            /* min-width: 50%; */
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            font-weight: bolder;
            font-size: x-large;
        }

        .geolocation{
            padding-right: 1rem;
        }

   
        .mainCard2ndRow{
            background-color:cornflowerblue;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* min-width: 60%; */
            /* min-height: 60%; */
            color: white;
            font-size:x-large;
            font-weight: bolder;

            .conditionTitle{
                margin-top: .5rem;
                margin-bottom: .5rem;
                
            }

            .temp{
                font-size:5rem;
            }
        }


    }

}

.mainCard2ndRow img{
    height: 175px;
}


.footer{
    background-color:lightcoral;
    padding: 1rem;
    display: flex;
    justify-content: center;

}


.footer img {
    width: 100px;
}

/*============ toggle switch for imperial-metric======== */
.switch-field {
	display: flex;
	margin-bottom: 36px;
	overflow: hidden;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: #a5dc86;
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}
